{% extends "main.html" %}

{% block content %}

<ul>
    <div class="row">
        <div class="column">
            <div class="about pic">
                <img class = "profile__picture" src="/images/about.JPG" alt="profile picture" height="70%" width="70%"/>
            </div>
        </div>
        <div class="column">
            <p style="font-size: 23px; font-family: bradley hand, cursive;">
    Experienced Office Manager with a demonstrated history of working in the health wellness and fitness industry.
    Skilled in Medical Assisting, Healthcare Management, Leadership, Financial Accounting, Office Administration,
    Audio/Video Pre-/Post-Production, and musical abilities.
    Strong administrative professional who received a Bachelor’s degree in Business Management,
    Concentration in Entrepreneurship, and a Minor in Digital Media Electronic Technologies
    for Video and Television Studio Production from East Stroudsburg University. {{about.info}}
            </p>
        </div>
    </div>
</ul>
{% endblock content %}
