{% extends "main.html" %}

{% block content %}
<style>
    input[type=text], input[type=email], textarea {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    }
</style>

<h1 style="font-family: bradley hand, cursive;"> Contact Me At: </h1>

<p style="font-size: 18px; font-family: bradley hand, cursive;">
    LinkedIn: <a href="https://www.linkedin.com/in/adrian-neah-lozada-68166912a">
        https://www.linkedin.com/in/adrian-neah-lozada-68166912a {{about.linkedin}}
</a></p>

<p style="font-size: 18px; font-family: bradley hand, cursive;">
    Instagram: <a href="https://www.instagram.com/adrianneahofficial/">
    https://www.instagram.com/adrianneahofficial/ {{about.instagram}}
</a></p>

<p style="font-size: 18px; font-family: bradley hand, cursive;">
    Email: <a href="mailto:someone@example.com">adrianneah98@outlook.com {{about.email}}
</a></p>
 
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
 </form>

{% endblock content %}
